In [1]:
#importing the required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
#Reading the csv file
data=pd.read_csv('MergeFileCrop.csv.txt')
name = data['label'].unique()
name = list(name)

In [3]:
data.isnull().any()

Unnamed: 0     False
temperature    False
humidity       False
ph             False
rainfall       False
label          False
dtype: bool

In [4]:
data= data.drop('Unnamed: 0',axis=1)

In [5]:
data = data.sample(frac = 1)  
print(data.head(1))

     temperature   humidity        ph   rainfall      label
536    24.216103  59.792363  8.869533  42.247835  mothbeans

In [ ]:
#count =0
#for i in data['label']:
#        data['label'][i] == count
#        count = count+1
#print(data['label'])

In [ ]:
#print(name)

In [ ]:
#print(list(number))

In [ ]:
#index1 = {"name":name,
#         "number":number}

In [ ]:
data.head(2)

In [6]:
import seaborn as sns
sns.heatmap(data.corr())

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["label1"] = le.fit_transform(data["label"])
data.head(12)

      temperature   humidity        ph    rainfall       label  label1
536     24.216103  59.792363  8.869533   42.247835   mothbeans      13
2139    26.022414  55.832890  7.277423  176.902092      coffee       5
66      21.143475  80.335029  5.594820  198.673094        rice      20
538     25.979490  64.955854  4.193189   72.192458   mothbeans      13
250     19.407517  18.980305  7.806748   80.250646    chickpea       3
294     20.714244  15.278241  7.103798   76.778887    chickpea       3
1258    19.364255  83.360940  5.980599   67.150947      grapes       7
2175    27.313171  68.423339  6.348338  192.428814      coffee       5
1845    27.542732  94.590861  6.362544  150.201214     coconut       4
1228    38.060995  82.247296  6.234904   65.701482      grapes       7
1367    24.644585  85.499382  6.343943   48.312190  watermelon      21
563     30.477577  61.582453  9.416003   61.866339   mothbeans      13

In [22]:
index1 = {"name":data['label'].unique(),
         "number":data['label1'].unique()}

In [24]:
df = pd.DataFrame(index1,columns = ['name','number'])
df.head(12)

          name  number
0    mothbeans      13
1       coffee       5
2         rice      20
3     chickpea       3
4       grapes       7
5      coconut       4
6   watermelon      21
7     mungbean      14
8        mango      12
9         jute       8
10       maize      11
11       apple       0

In [25]:
df.sort_values(by = ['number'],ascending = True,inplace = True)
df

           name  number
11        apple       0
21       banana       1
17    blackgram       2
3      chickpea       3
5       coconut       4
1        coffee       5
16       cotton       6
4        grapes       7
9          jute       8
14  kidneybeans       9
18       lentil      10
10        maize      11
8         mango      12
0     mothbeans      13
7      mungbean      14
12    muskmelon      15
20       orange      16
13       papaya      17
15   pigeonpeas      18
19  pomegranate      19
2          rice      20
6    watermelon      21

In [26]:
index2 = df['name']
index2 = list(index2)
print(index2)

['apple', 'banana', 'blackgram', 'chickpea', 'coconut', 'coffee', 'cotton', 'grapes', 'jute', 'kidneybeans', 'lentil', 'maize', 'mango', 'mothbeans', 'mungbean', 'muskmelon', 'orange', 'papaya', 'pigeonpeas', 'pomegranate', 'rice', 'watermelon']

In [8]:
x = data.iloc[:,0:4].values
y = data.iloc[:,5:].values
y

array([[13],
       [ 5],
       [20],
       ...,
       [ 2],
       [ 8],
       [ 7]])

In [9]:
x.shape

(2200, 4)

In [10]:
x

array([[ 24.21610338,  59.79236306,   8.86953282,  42.24783476],
       [ 26.02241444,  55.83288958,   7.27742274, 176.9020924 ],
       [ 21.14347496,  80.33502926,   5.59481963, 198.6730942 ],
       ...,
       [ 29.36358721,  64.98742947,   7.36654265,  61.91208707],
       [ 25.49674786,  81.13449097,   6.69107425, 169.9288234 ],
       [ 17.66558428,  82.92903419,   6.3130856 ,  69.8671263 ]])

In [11]:
y

array([[13],
       [ 5],
       [20],
       ...,
       [ 2],
       [ 8],
       [ 7]])

In [12]:
y.shape

(2200, 1)

In [13]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x,y,test_size = 0.2,random_state =2)

In [14]:
# RABDOM FOREST 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
acc=[]
model=[]
regressor = RandomForestClassifier(n_estimators=20, random_state=0)
regressor.fit(Xtrain,Ytrain)

predicted_values = regressor.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('RF')
print("RF's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

RF's Accuracy is:  0.9727272727272728
              precision    recall  f1-score   support

           0       0.95      1.00      0.97        19
           1       1.00      1.00      1.00        18
           2       0.95      0.90      0.92        20
           3       1.00      1.00      1.00        22
           4       1.00      1.00      1.00        21
           5       0.95      1.00      0.97        19
           6       0.95      0.95      0.95        21
           7       0.96      0.96      0.96        23
           8       0.96      0.92      0.94        25
           9       1.00      1.00      1.00        20
          10       1.00      1.00      1.00        16
          11       0.92      1.00      0.96        22
          12       1.00      1.00      1.00        20
          13       1.00      0.96      0.98        23
          14       1.00      1.00      1.00        19
          15       1.00      1.00      1.00        16
          16       1.00      0.89      0.94        19
          17       0.93      1.00      0.96        13
          18       1.00      0.96      0.98        23
          19       0.95      0.95      0.95        19
          20       0.93      0.96      0.95        28
          21       1.00      1.00      1.00        14

    accuracy                           0.97       440
   macro avg       0.97      0.97      0.97       440
weighted avg       0.97      0.97      0.97       440

E:\Users\sai\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

In [15]:
# NAVIE_BAYES
from sklearn.naive_bayes import GaussianNB

NaiveBayes = GaussianNB()

NaiveBayes.fit(Xtrain,Ytrain)
acc1 =[]
model1 =[]
predicted_values1 = NaiveBayes.predict(Xtest)
x1= metrics.accuracy_score(Ytest, predicted_values1)
acc1.append(x1)
model1.append('Naive Bayes')
print("Naive Bayes's Accuracy is: ", x1)

print(classification_report(Ytest,predicted_values1))

Naive Bayes's Accuracy is:  0.9590909090909091
              precision    recall  f1-score   support

           0       0.90      0.95      0.92        19
           1       1.00      1.00      1.00        18
           2       0.95      0.95      0.95        20
           3       1.00      1.00      1.00        22
           4       1.00      1.00      1.00        21
           5       0.85      0.89      0.87        19
           6       1.00      0.90      0.95        21
           7       0.92      1.00      0.96        23
           8       0.92      0.92      0.92        25
           9       1.00      1.00      1.00        20
          10       1.00      1.00      1.00        16
          11       0.92      1.00      0.96        22
          12       1.00      1.00      1.00        20
          13       1.00      0.91      0.95        23
          14       1.00      1.00      1.00        19
          15       1.00      1.00      1.00        16
          16       0.95      0.95      0.95        19
          17       0.93      1.00      0.96        13
          18       0.95      0.87      0.91        23
          19       0.94      0.84      0.89        19
          20       0.93      0.96      0.95        28
          21       1.00      1.00      1.00        14

    accuracy                           0.96       440
   macro avg       0.96      0.96      0.96       440
weighted avg       0.96      0.96      0.96       440

E:\Users\sai\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [ ]:
#index = ['mungbean','pomegranate','pigeonpeas','chickpea','papaya','lentil','cotton', 'jute','grapes',
#'coffee','apple','maize', 'coconut',  'banana','mango','blackgram','orange', 'rice','watermelon',
#'mothbeans','kidneybeans']

In [28]:
#index = data['label']

In [30]:
y_p = regressor.predict(np.array([[27.35152643,55.99375012,7.13411409,148.98125249999998]]))
y_list = (y_p.flatten('F'))
import pandas as pd
pd.set_option('display.max_columns', 34)
print(data[:9])
y_list = int(y_list)
print("----------------------------------")
print(y_list)
print("the suitable crop is",index2[y_list])

      temperature   humidity        ph    rainfall      label  label1
536     24.216103  59.792363  8.869533   42.247835  mothbeans      13
2139    26.022414  55.832890  7.277423  176.902092     coffee       5
66      21.143475  80.335029  5.594820  198.673094       rice      20
538     25.979490  64.955854  4.193189   72.192458  mothbeans      13
250     19.407517  18.980305  7.806748   80.250646   chickpea       3
294     20.714244  15.278241  7.103798   76.778887   chickpea       3
1258    19.364255  83.360940  5.980599   67.150947     grapes       7
2175    27.313171  68.423339  6.348338  192.428814     coffee       5
1845    27.542732  94.590861  6.362544  150.201214    coconut       4
----------------------------------
5
the suitable crop is coffee

In [31]:
y_p1 = NaiveBayes.predict(np.array([[27.35152643,55.99375012,7.13411409,148.98125249999998]]))
y_list1 = (y_p1.flatten('F'))
import pandas as pd
pd.set_option('display.max_columns', 34)
print(data[:9])
y_list1 = int(y_list1)
print("----------------------------------")
print(y_list1)
print("the suitable crop is",index2[y_list1])

      temperature   humidity        ph    rainfall      label  label1
536     24.216103  59.792363  8.869533   42.247835  mothbeans      13
2139    26.022414  55.832890  7.277423  176.902092     coffee       5
66      21.143475  80.335029  5.594820  198.673094       rice      20
538     25.979490  64.955854  4.193189   72.192458  mothbeans      13
250     19.407517  18.980305  7.806748   80.250646   chickpea       3
294     20.714244  15.278241  7.103798   76.778887   chickpea       3
1258    19.364255  83.360940  5.980599   67.150947     grapes       7
2175    27.313171  68.423339  6.348338  192.428814     coffee       5
1845    27.542732  94.590861  6.362544  150.201214    coconut       4
----------------------------------
5
the suitable crop is coffee

In [ ]:
#27.33684386,88.50229102,7.033012777000001,51.09802625